## Overview
[asset](#asset) \
[activity](#activity) \
[ads](#ads)

In [1]:
import pandas as pd
import numpy as np

In [2]:
default_dir = '/home/users/s17011720/predicting_impression_using_mobile_game/'

## asset

In [2]:
asset = pd.read_csv(default_dir + "extract_features_data/asset_features.csv")

In [3]:
asset.columns

Index(['ad_id', 'day_x', 'in_coin_cnt', 'out_coin_cnt', 'in_coin_sum',
       'out_coin_sum', 'curr_var_min', 'curr_var_max', 'buy_skin_var_sum',
       'offline_coin_var_sum', 'play_var_sum', 'rv_collection_coin_var_sum',
       'rv_result_bonus_coin_var_sum', 'rv_result_coin_var_sum',
       'upgrade_atk_var_sum', 'upgrade_atk_speed_var_sum',
       'upgrade_coin_var_sum', 'upgrade_hp_var_sum', '0', 'boy', 'doctor',
       'firefighter', 'police', 'pringles', 'starbucks', 'suit', 'worker'],
      dtype='object')

### 1. 재화 변동 횟수
- 'coin_cnt'

### 2. 재화 변동량
- 'coin_sum'

### 3. 능력치 업그레이드에 쓴 재화량
- 'upgrade_coin_sum'

### 4. 리워드 비디오로 얻은 재화량
- 'rv_coin_sum'

In [4]:
skin_col = ['boy', 'doctor', 'firefighter', 'police', 'pringles', 'starbucks', 'suit', 'worker']
asset['skin_cnt'] = asset[skin_col].sum(axis=1)

In [5]:
asset.drop(['boy', 'doctor', 'firefighter', 'police', 'pringles', 'starbucks', 'suit', 'worker'], axis=1, inplace=True)
asset.rename(columns={'0':'default_skin_cnt'}, inplace=True)

In [7]:
asset.fillna(0, inplace=True)
asset.head(2)

,ad_id,day_x,in_coin_cnt,out_coin_cnt,in_coin_sum,out_coin_sum,curr_var_min,curr_var_max,buy_skin_var_sum,offline_coin_var_sum,play_var_sum,rv_collection_coin_var_sum,rv_result_bonus_coin_var_sum,rv_result_coin_var_sum,upgrade_atk_var_sum,upgrade_atk_speed_var_sum,upgrade_coin_var_sum,upgrade_hp_var_sum,default_skin_cnt,skin_cnt
0,00018501-6eee-45e9-b5b5-7b50f966abd8,0,1.0,0.0,51.0,0.0,51,51,0.0,0.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,00018501-6eee-45e9-b5b5-7b50f966abd8,8,4.0,0.0,254.0,0.0,102,305,0.0,0.0,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,10.0,8.0,779.0,682.0,21,381,0.0,0.0,779.0,0.0,0.0,0.0,-309.0,-75.0,-120.0,-178.0,18.0,0.0
3,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,0,3.0,0.0,153.0,0.0,51,153,0.0,0.0,153.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
4,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,1,4.0,4.0,304.0,349.0,32,381,0.0,0.0,304.0,0.0,0.0,0.0,-309.0,0.0,-40.0,0.0,8.0,0.0

In [9]:
asset['coin_cnt'] = asset[['in_coin_cnt', 'out_coin_cnt']].sum(axis=1)
asset['coin_sum'] = asset[['in_coin_sum', 'out_coin_sum']].sum(axis=1)
asset['coin_minmax_diff'] = asset.curr_var_max - asset.curr_var_min

In [10]:
asset['upgrade_coin_sum'] = asset[['upgrade_atk_var_sum', 'upgrade_atk_speed_var_sum',
                                   'upgrade_coin_var_sum', 'upgrade_hp_var_sum']].sum(axis=1)
asset['rv_coin_sum'] = asset[['rv_collection_coin_var_sum', 'rv_result_bonus_coin_var_sum', 
                              'rv_result_coin_var_sum']].sum(axis=1)

### 5. 전체 out 재화량 대비 능력치 업그레이드에 쓴 재화량
- 'upgrade_coin_sum' / 'out_coin_sum'

### 6. 전체 in 재화량 대비 리워드 비디오로 얻은 재화량
- 'rv_coin_sum' / 'in_coin_sum'

In [12]:
asset.columns

Index(['ad_id', 'day_x', 'in_coin_cnt', 'out_coin_cnt', 'in_coin_sum',
       'out_coin_sum', 'curr_var_min', 'curr_var_max', 'buy_skin_var_sum',
       'offline_coin_var_sum', 'play_var_sum', 'rv_collection_coin_var_sum',
       'rv_result_bonus_coin_var_sum', 'rv_result_coin_var_sum',
       'upgrade_atk_var_sum', 'upgrade_atk_speed_var_sum',
       'upgrade_coin_var_sum', 'upgrade_hp_var_sum', 'default_skin_cnt',
       'skin_cnt', 'coin_cnt', 'coin_sum', 'coin_minmax_diff',
       'upgrade_coin_sum', 'rv_coin_sum'],
      dtype='object')

In [13]:
asset['out_coin_sum'].unique()

array([    0.,   682.,   349., ..., 18890.,  7823.,  8297.])

In [17]:
asset.head()

,ad_id,day_x,in_coin_cnt,out_coin_cnt,in_coin_sum,out_coin_sum,curr_var_min,curr_var_max,buy_skin_var_sum,offline_coin_var_sum,...,upgrade_atk_speed_var_sum,upgrade_coin_var_sum,upgrade_hp_var_sum,default_skin_cnt,skin_cnt,coin_cnt,coin_sum,coin_minmax_diff,upgrade_coin_sum,rv_coin_sum
0,00018501-6eee-45e9-b5b5-7b50f966abd8,0,1.0,0.0,51.0,0.0,51,51,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,51.0,0,0.0,0.0
1,00018501-6eee-45e9-b5b5-7b50f966abd8,8,4.0,0.0,254.0,0.0,102,305,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,4.0,254.0,203,0.0,0.0
2,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,10.0,8.0,779.0,682.0,21,381,0.0,0.0,...,-75.0,-120.0,-178.0,18.0,0.0,18.0,1461.0,360,-682.0,0.0
3,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,0,3.0,0.0,153.0,0.0,51,153,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,3.0,153.0,102,0.0,0.0
4,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,1,4.0,4.0,304.0,349.0,32,381,0.0,0.0,...,0.0,-40.0,0.0,8.0,0.0,8.0,653.0,349,-349.0,0.0

In [25]:
asset.iloc[:, 2:] = asset.iloc[:, 2:].abs()

In [27]:
asset['upgrade_coin_rate'] = asset['upgrade_coin_sum'] / asset['out_coin_sum']
asset['rv_coin_rate'] = asset['rv_coin_sum'] / asset['in_coin_sum']

In [28]:
asset.head(2)

,ad_id,day_x,in_coin_cnt,out_coin_cnt,in_coin_sum,out_coin_sum,curr_var_min,curr_var_max,buy_skin_var_sum,offline_coin_var_sum,...,upgrade_hp_var_sum,default_skin_cnt,skin_cnt,coin_cnt,coin_sum,coin_minmax_diff,upgrade_coin_sum,rv_coin_sum,upgrade_coin_rate,rv_coin_rate
0,00018501-6eee-45e9-b5b5-7b50f966abd8,0,1.0,0.0,51.0,0.0,51.0,51.0,0.0,0.0,...,0.0,1.0,0.0,1.0,51.0,0.0,0.0,0.0,NaN,0.0
1,00018501-6eee-45e9-b5b5-7b50f966abd8,8,4.0,0.0,254.0,0.0,102.0,305.0,0.0,0.0,...,0.0,4.0,0.0,4.0,254.0,203.0,0.0,0.0,NaN,0.0
2,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,10.0,8.0,779.0,682.0,21.0,381.0,0.0,0.0,...,178.0,18.0,0.0,18.0,1461.0,360.0,682.0,0.0,1.0,0.0
3,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,0,3.0,0.0,153.0,0.0,51.0,153.0,0.0,0.0,...,0.0,3.0,0.0,3.0,153.0,102.0,0.0,0.0,NaN,0.0
4,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,1,4.0,4.0,304.0,349.0,32.0,381.0,0.0,0.0,...,0.0,8.0,0.0,8.0,653.0,349.0,349.0,0.0,1.0,0.0

In [31]:
asset['skin_cnt_percent'] = (asset['skin_cnt'] / (asset['default_skin_cnt'] + asset['skin_cnt']))*100

In [33]:
asset.to_csv(default_dir + "extract_features_data/asset_features2.csv", index=False)

## activity

In [6]:
activity = pd.read_csv(default_dir + "extract_features_data/act_features.csv")
activity.columns

Index(['ad_id', 'day_x', 'act_cnt', 'content_button', 'rating_popup',
       'click_skin', 'close_collection', 'open_collection'],
      dtype='object')

In [7]:
activity.columns = ['ad_id', 'day_x', 'activity_cnt', 'content_button_cnt', 'rating_popup_cnt', 
                  'click_skin_cnt', 'close_collection_cnt', 'open_collection_cnt']

In [8]:
activity.head()

,ad_id,day_x,activity_cnt,content_button_cnt,rating_popup_cnt,click_skin_cnt,close_collection_cnt,open_collection_cnt
0,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,1,NaN,1.0,NaN,NaN,NaN
1,0002cac0-644a-4169-8253-6e02cf634b7b,0,1,NaN,1.0,NaN,NaN,NaN
2,00031e14-e86d-49ac-bda0-a1427e9dcd3b,0,1,NaN,1.0,NaN,NaN,NaN
3,00038635-61d2-4656-b04b-332c5a6755cd,0,8,7.0,1.0,5.0,1.0,1.0
4,00038635-61d2-4656-b04b-332c5a6755cd,1,10,9.0,1.0,5.0,2.0,2.0

In [9]:
activity.fillna(0, inplace=True)

In [10]:
activity.head(2)

,ad_id,day_x,activity_cnt,content_button_cnt,rating_popup_cnt,click_skin_cnt,close_collection_cnt,open_collection_cnt
0,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,1,0.0,1.0,0.0,0.0,0.0
1,0002cac0-644a-4169-8253-6e02cf634b7b,0,1,0.0,1.0,0.0,0.0,0.0

In [11]:
activity['rating_popup_cnt'].unique()

array([ 1.,  2.,  0.,  3., 19.,  4.,  6.])

In [12]:
activity.describe()

,day_x,activity_cnt,content_button_cnt,rating_popup_cnt,click_skin_cnt,close_collection_cnt,open_collection_cnt
count,224136.000000,224136.000000,224136.000000,224136.000000,224136.000000,224136.000000,224136.000000
mean,2.303865,4.823500,3.840695,0.982805,2.411933,0.689456,0.739306
std,4.692800,14.247363,14.250537,0.316666,12.646857,1.616853,1.670201
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,2.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000
max,43.000000,1844.000000,1843.000000,19.000000,1791.000000,179.000000,180.000000

In [13]:
activity['click_skin_mean'] = activity['click_skin_cnt'] / activity['open_collection_cnt']
activity.head()

,ad_id,day_x,activity_cnt,content_button_cnt,rating_popup_cnt,click_skin_cnt,close_collection_cnt,open_collection_cnt,click_skin_mean
0,0001edb6-e7e7-4f74-8993-2bfc9347a959,0,1,0.0,1.0,0.0,0.0,0.0,NaN
1,0002cac0-644a-4169-8253-6e02cf634b7b,0,1,0.0,1.0,0.0,0.0,0.0,NaN
2,00031e14-e86d-49ac-bda0-a1427e9dcd3b,0,1,0.0,1.0,0.0,0.0,0.0,NaN
3,00038635-61d2-4656-b04b-332c5a6755cd,0,8,7.0,1.0,5.0,1.0,1.0,5.0
4,00038635-61d2-4656-b04b-332c5a6755cd,1,10,9.0,1.0,5.0,2.0,2.0,2.5

In [15]:
activity.fillna(0, inplace=True)

In [16]:
activity.to_csv(default_dir + "extract_features_data/activity_features2.csv", index=False)

## ads

In [38]:
ads = pd.read_csv(default_dir + "extract_features_data/ads_features.csv")
ads.columns

Index(['ad_id', 'day_x', 'ba_imps_off', 'ba_imps_on', 'ba_imps_fail_off',
       'ba_imps_fail_on', 'ba_view_off', 'ba_view_on', 'is_imps_off',
       'is_imps_on', 'is_imps_fail_off', 'is_imps_fail_on', 'is_view_off',
       'is_view_on', 'rv_imps_off', 'rv_imps_on', 'rv_imps_fail_off',
       'rv_imps_fail_on', 'rv_view_off', 'rv_view_on', 'ba_home', 'ba_ingame',
       'ba_result', 'is_death', 'is_game_end', 'rv_collection_coin',
       'rv_color', 'rv_result_bonus_coin', 'rv_result_coin', 'rv_up_1',
       'rv_up_2', 'rv_up_3', 'rv_up_4', 'ba_imps', 'ba_imps_fail', 'ba_view',
       'is_imps', 'is_imps_fail', 'is_view', 'rv_imps', 'rv_imps_fail',
       'rv_view', 'Interval_time'],
      dtype='object')

In [4]:
ads.head(2)

,ad_id,day_x,ba_imps_off,ba_imps_on,ba_imps_fail_off,ba_imps_fail_on,ba_view_off,ba_view_on,is_imps_off,is_imps_on,...,is_game_end,rv_collection_coin,rv_color,rv_result_bonus_coin,rv_result_coin,rv_up_1,rv_up_2,rv_up_3,rv_up_4,Interval_time
0,00018501-6eee-45e9-b5b5-7b50f966abd8,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0
1,00018501-6eee-45e9-b5b5-7b50f966abd8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,4.0,NaN,7.0,NaN,NaN,NaN,NaN,0

In [5]:
ads.fillna(0, inplace=True)

In [39]:
ads.describe()

,day_x,ba_imps_off,ba_imps_on,ba_imps_fail_off,ba_imps_fail_on,ba_view_off,ba_view_on,is_imps_off,is_imps_on,is_imps_fail_off,...,ba_imps,ba_imps_fail,ba_view,is_imps,is_imps_fail,is_view,rv_imps,rv_imps_fail,rv_view,Interval_time
count,419923.000000,2678.000000,371511.000000,0.0,0.0,0.0,0.0,10338.000000,289836.000000,58948.000000,...,371805.000000,0.0,0.0,292599.000000,158894.000000,0.0,89825.000000,61512.000000,416364.000000,419923.000000
mean,2.612634,1.067961,9.986490,NaN,NaN,NaN,NaN,1.062778,6.762183,18.014487,...,9.986286,NaN,NaN,6.735877,10.512732,NaN,1.662778,2.850631,23.080927,254.133703
std,5.019437,0.717889,11.265231,NaN,NaN,NaN,NaN,0.346385,7.775643,21.238369,...,11.264978,NaN,NaN,7.762792,17.483049,NaN,1.646049,4.781105,30.998620,383.918211
min,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,...,1.000000,NaN,NaN,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,0.000000
25%,0.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,1.000000,2.000000,5.000000,...,3.000000,NaN,NaN,2.000000,1.000000,NaN,1.000000,1.000000,6.000000,0.000000
50%,0.000000,1.000000,6.000000,NaN,NaN,NaN,NaN,1.000000,4.000000,11.000000,...,6.000000,NaN,NaN,4.000000,4.000000,NaN,1.000000,1.000000,13.000000,134.000000
75%,3.000000,1.000000,13.000000,NaN,NaN,NaN,NaN,1.000000,8.000000,23.000000,...,13.000000,NaN,NaN,8.000000,12.000000,NaN,2.000000,3.000000,28.000000,332.000000
max,44.000000,30.000000,497.000000,NaN,NaN,NaN,NaN,22.000000,203.000000,375.000000,...,497.000000,NaN,NaN,203.000000,459.000000,NaN,76.000000,194.000000,906.000000,15608.000000

In [40]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419923 entries, 0 to 419922
Data columns (total 43 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ad_id                 419923 non-null  object
 1   day_x                 419923 non-null  int64
 2   ba_imps_off           2678 non-null    float64
 3   ba_imps_on            371511 non-null  float64
 4   ba_imps_fail_off      0 non-null       float64
 5   ba_imps_fail_on       0 non-null       float64
 6   ba_view_off           0 non-null       float64
 7   ba_view_on            0 non-null       float64
 8   is_imps_off           10338 non-null   float64
 9   is_imps_on            289836 non-null  float64
 10  is_imps_fail_off      58948 non-null   float64
 11  is_imps_fail_on       115566 non-null  float64
 12  is_view_off           0 non-null       float64
 13  is_view_on            0 non-null       float64
 14  rv_imps_off           4952 non-null    float64
 15  rv_imps_on            85993 non-null   float64
 16  rv_imps_fail_off      27402 non-null   float64
 17  rv_imps_fail_on       37106 non-null   float64
 18  rv_view_off           65336 non-null   float64
 19  rv_view_on            387092 non-null  float64
 20  ba_home               349095 non-null  float64
 21  ba_ingame             294750 non-null  float64
 22  ba_result             200420 non-null  float64
 23  is_death              116006 non-null  float64
 24  is_game_end           351522 non-null  float64
 25  rv_collection_coin    83672 non-null   float64
 26  rv_color              408389 non-null  float64
 27  rv_result_bonus_coin  204351 non-null  float64
 28  rv_result_coin        400640 non-null  float64
 29  rv_up_1               131638 non-null  float64
 30  rv_up_2               101750 non-null  float64
 31  rv_up_3               117533 non-null  float64
 32  rv_up_4               83828 non-null   float64
 33  ba_imps               371805 non-null  float64
 34  ba_imps_fail          0 non-null       float64
 35  ba_view               0 non-null       float64
 36  is_imps               292599 non-null  float64
 37  is_imps_fail          158894 non-null  float64
 38  is_view               0 non-null       float64
 39  rv_imps               89825 non-null   float64
 40  rv_imps_fail          61512 non-null   float64
 41  rv_view               416364 non-null  float64
 42  Interval_time         419923 non-null  int64
dtypes: float64(40), int64(2), object(1)
memory usage: 137.8+ MB

In [41]:
# banner imps fail -> log 전송X (불안정하기 때문)
# banner view -> 없음
drop_col = ['ba_imps_fail_off', 'ba_imps_fail_on', 'ba_view_off', 'ba_view_on',
            'is_view_off', 'is_view_on', 'ba_imps_fail', 'ba_view',
            'is_view']

ads[drop_col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419923 entries, 0 to 419922
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ba_imps_fail_off  0 non-null      float64
 1   ba_imps_fail_on   0 non-null      float64
 2   ba_view_off       0 non-null      float64
 3   ba_view_on        0 non-null      float64
 4   is_view_off       0 non-null      float64
 5   is_view_on        0 non-null      float64
 6   ba_imps_fail      0 non-null      float64
 7   ba_view           0 non-null      float64
 8   is_view           0 non-null      float64
dtypes: float64(9)
memory usage: 28.8 MB

In [42]:
ads.drop(drop_col, axis=1, inplace=True)

In [44]:
ads.describe()

,day_x,ba_imps_off,ba_imps_on,is_imps_off,is_imps_on,is_imps_fail_off,is_imps_fail_on,rv_imps_off,rv_imps_on,rv_imps_fail_off,...,rv_up_2,rv_up_3,rv_up_4,ba_imps,is_imps,is_imps_fail,rv_imps,rv_imps_fail,rv_view,Interval_time
count,419923.000000,2678.000000,371511.000000,10338.000000,289836.000000,58948.000000,115566.000000,4952.000000,85993.000000,27402.000000,...,101750.000000,117533.000000,83828.000000,371805.000000,292599.000000,158894.000000,89825.000000,61512.000000,416364.000000,419923.000000
mean,2.612634,1.067961,9.986490,1.062778,6.762183,18.014487,5.265320,1.034935,1.677276,3.498942,...,2.876334,3.064637,2.201448,9.986286,6.735877,10.512732,1.662778,2.850631,23.080927,254.133703
std,5.019437,0.717889,11.265231,0.346385,7.775643,21.238369,10.606925,0.221522,1.667780,5.297329,...,2.434657,2.576446,1.780388,11.264978,7.762792,17.483049,1.646049,4.781105,30.998620,383.918211
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,1.000000,3.000000,1.000000,2.000000,5.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,1.000000,1.000000,6.000000,0.000000
50%,0.000000,1.000000,6.000000,1.000000,4.000000,11.000000,2.000000,1.000000,1.000000,2.000000,...,2.000000,2.000000,2.000000,6.000000,4.000000,4.000000,1.000000,1.000000,13.000000,134.000000
75%,3.000000,1.000000,13.000000,1.000000,8.000000,23.000000,5.000000,1.000000,2.000000,4.000000,...,4.000000,4.000000,3.000000,13.000000,8.000000,12.000000,2.000000,3.000000,28.000000,332.000000
max,44.000000,30.000000,497.000000,22.000000,203.000000,375.000000,459.000000,4.000000,75.000000,173.000000,...,33.000000,35.000000,33.000000,497.000000,203.000000,459.000000,76.000000,194.000000,906.000000,15608.000000

In [45]:
# banner imps
ba_imps_col = ['ba_imps_off', 'ba_imps_on']

# interstitial imps
is_imps_col = ['is_imps_off', 'is_imps_on']
is_imps_fail_col = ['is_imps_fail_off', 'is_imps_fail_on']

# reward imps
rv_imps_col = ['rv_imps_off', 'rv_imps_on']
rv_imps_fail_col = ['rv_imps_fail_off', 'rv_imps_fail_on']
rv_view_col = ['rv_view_off', 'rv_view_on']

In [9]:
ads['ba_imps'] = ads[ba_imps_col].sum(axis=1)

In [12]:
ads['is_imps'] = ads[is_imps_col].sum(axis=1)
ads['is_imps_fail'] = ads[is_imps_fail_col].sum(axis=1)
ads['is_view'] = ads[is_view_col].sum(axis=1)

In [17]:
ads['rv_imps'] = ads[rv_imps_col].sum(axis=1)
ads['rv_imps_fail'] = ads[rv_imps_fail_col].sum(axis=1)
ads['rv_view'] = ads[rv_view_col].sum(axis=1)

In [19]:
ads.columns

Index(['ad_id', 'day_x', 'ba_imps_off', 'ba_imps_on', 'is_imps_off',
       'is_imps_on', 'is_imps_fail_off', 'is_imps_fail_on', 'is_view_off',
       'is_view_on', 'rv_imps_off', 'rv_imps_on', 'rv_imps_fail_off',
       'rv_imps_fail_on', 'rv_view_off', 'rv_view_on', 'ba_home', 'ba_ingame',
       'ba_result', 'is_death', 'is_game_end', 'rv_collection_coin',
       'rv_color', 'rv_result_bonus_coin', 'rv_result_coin', 'rv_up_1',
       'rv_up_2', 'rv_up_3', 'rv_up_4', 'Interval_time', 'ba_imps', 'is_imps',
       'is_imps_fail', 'is_view', 'rv_imps', 'rv_imps_fail', 'rv_view'],
      dtype='object')

### placement 관련 feature 생성

In [50]:

ads['ba_home_rate'] = ads['ba_home'] / ads['ba_imps'] * 100
ads['ba_ingame_rate'] = ads['ba_ingame'] / ads['ba_imps'] * 100
ads['ba_result_rate'] = ads['ba_result'] / ads['ba_imps'] * 100

ads['is_death_rate'] = ads['is_death'] / (ads['is_imps']+ads['is_imps_fail'])  * 100
ads['is_game_end_rate'] = ads['is_game_end'] / (ads['is_imps']+ads['is_imps_fail'])  * 100

ads['rv_collection_coin_rate'] = ads['rv_collection_coin'] / (ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) * 100
ads['rv_color_rate'] = ads['rv_color'] / (ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) * 100
ads['rv_result_bonus_coin_rate'] = ads['rv_result_bonus_coin'] / (ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) * 100
ads['rv_result_coin_rate'] = ads['rv_result_coin'] / (ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) * 100
ads['rv_up_rate'] = (ads['rv_up_1']+ads['rv_up_2']+ads['rv_up_3']+ads['rv_up_4']) / (ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) * 100

In [51]:
ads.fillna(0, inplace=True)

In [52]:
ads.describe()

,day_x,ba_imps_off,ba_imps_on,is_imps_off,is_imps_on,is_imps_fail_off,is_imps_fail_on,rv_imps_off,rv_imps_on,rv_imps_fail_off,...,ba_home_rate,ba_ingame_rate,ba_result_rate,is_death_rate,is_game_end_rate,rv_collection_coin_rate,rv_color_rate,rv_result_bonus_coin_rate,rv_result_coin_rate,rv_up_rate
count,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,...,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000,419923.000000
mean,2.612634,0.006811,8.835170,0.026164,4.667341,2.528840,1.449056,0.012205,0.343477,0.228323,...,51.584789,26.923615,10.032829,6.477995,78.005827,1.571054,45.670855,3.369594,39.849718,8.694100
std,5.019437,0.102532,11.065572,0.173424,7.176906,10.123241,6.040906,0.114283,1.013768,1.605571,...,30.500296,24.715511,14.989017,14.821458,36.462540,5.745188,15.146559,7.175711,14.602275,12.562155
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,33.333333,0.000000,0.000000,0.000000,75.000000,0.000000,37.593985,0.000000,33.333333,0.000000
50%,0.000000,0.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,53.846154,25.000000,0.000000,0.000000,100.000000,0.000000,45.454545,0.000000,40.000000,0.000000
75%,3.000000,0.000000,12.000000,0.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,70.833333,40.000000,16.666667,5.882353,100.000000,0.000000,50.000000,4.878049,50.000000,17.073171
max,44.000000,30.000000,497.000000,22.000000,203.000000,375.000000,459.000000,4.000000,75.000000,173.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [54]:
ads[(ads['rv_imps']+ads['rv_imps_fail']+ads['rv_view']) < ads['rv_result_bonus_coin']][['rv_imps', 'rv_imps_fail', 'rv_color']]

Empty DataFrame
Columns: [rv_imps, rv_imps_fail, rv_color]
Index: []

In [55]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419923 entries, 0 to 419922
Data columns (total 44 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ad_id                      419923 non-null  object
 1   day_x                      419923 non-null  int64
 2   ba_imps_off                419923 non-null  float64
 3   ba_imps_on                 419923 non-null  float64
 4   is_imps_off                419923 non-null  float64
 5   is_imps_on                 419923 non-null  float64
 6   is_imps_fail_off           419923 non-null  float64
 7   is_imps_fail_on            419923 non-null  float64
 8   rv_imps_off                419923 non-null  float64
 9   rv_imps_on                 419923 non-null  float64
 10  rv_imps_fail_off           419923 non-null  float64
 11  rv_imps_fail_on            419923 non-null  float64
 12  rv_view_off                419923 non-null  float64
 13  rv_view_on                 419923 non-null  float64
 14  ba_home                    419923 non-null  float64
 15  ba_ingame                  419923 non-null  float64
 16  ba_result                  419923 non-null  float64
 17  is_death                   419923 non-null  float64
 18  is_game_end                419923 non-null  float64
 19  rv_collection_coin         419923 non-null  float64
 20  rv_color                   419923 non-null  float64
 21  rv_result_bonus_coin       419923 non-null  float64
 22  rv_result_coin             419923 non-null  float64
 23  rv_up_1                    419923 non-null  float64
 24  rv_up_2                    419923 non-null  float64
 25  rv_up_3                    419923 non-null  float64
 26  rv_up_4                    419923 non-null  float64
 27  ba_imps                    419923 non-null  float64
 28  is_imps                    419923 non-null  float64
 29  is_imps_fail               419923 non-null  float64
 30  rv_imps                    419923 non-null  float64
 31  rv_imps_fail               419923 non-null  float64
 32  rv_view                    419923 non-null  float64
 33  Interval_time              419923 non-null  int64
 34  ba_home_rate               419923 non-null  float64
 35  ba_ingame_rate             419923 non-null  float64
 36  ba_result_rate             419923 non-null  float64
 37  is_death_rate              419923 non-null  float64
 38  is_game_end_rate           419923 non-null  float64
 39  rv_collection_coin_rate    419923 non-null  float64
 40  rv_color_rate              419923 non-null  float64
 41  rv_result_bonus_coin_rate  419923 non-null  float64
 42  rv_result_coin_rate        419923 non-null  float64
 43  rv_up_rate                 419923 non-null  float64
dtypes: float64(41), int64(2), object(1)
memory usage: 141.0+ MB

In [56]:
ads.to_csv(default_dir + "extract_features_data/ads_features2.csv", index=False)

# Extract cum_imps_day 2-7

In [18]:
day0 = asset[asset['day_x']==0].drop('day_x', axis=1)
day1 = asset[asset['day_x']==1].drop('day_x', axis=1)

In [19]:
day0 = day0.add_suffix("_0")
day1 = day1.add_suffix("_1")

In [20]:
day0.rename(columns={'ad_id_0':'ad_id'}, inplace=True)
day1.rename(columns={'ad_id_1':'ad_id'}, inplace=True)

In [21]:
df = pd.merge(day0, day1, on=['ad_id'], how='outer')
df.head()

,ad_id,in_coin_cnt_0,out_coin_cnt_0,in_coin_sum_0,out_coin_sum_0,curr_var_min_0,curr_var_max_0,buy_skin_var_sum_0,offline_coin_var_sum_0,play_var_sum_0,...,play_var_sum_1,rv_collection_coin_var_sum_1,rv_result_bonus_coin_var_sum_1,rv_result_coin_var_sum_1,upgrade_atk_var_sum_1,upgrade_atk_speed_var_sum_1,upgrade_coin_var_sum_1,upgrade_hp_var_sum_1,default_skin_cnt_1,skin_cnt_1
0,00018501-6eee-45e9-b5b5-7b50f966abd8,1.0,NaN,51.0,NaN,51.0,51.0,NaN,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001edb6-e7e7-4f74-8993-2bfc9347a959,10.0,8.0,779.0,682.0,21.0,381.0,NaN,NaN,779.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7,3.0,NaN,153.0,NaN,51.0,153.0,NaN,NaN,153.0,...,304.0,NaN,NaN,NaN,-309.0,NaN,-40.0,NaN,8.0,0.0
3,000289c6-779a-4b82-bab0-652fa477be1f,4.0,NaN,204.0,NaN,51.0,204.0,NaN,NaN,204.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0002aec5-2842-4fa8-9b13-004ec60a5a2a,5.0,NaN,300.0,NaN,50.0,300.0,NaN,NaN,300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.f

In [ ]:
def outlier_iqr(data, column): 
    print('--------- '+column+'피처--------- ')
    # lower, upper 글로벌 변수 선언하기     
#     global lower, upper    
    
    # 4분위수 기준 지정하기     
    q25 = np.quantile(data[column], 0.25) 
    q75 = np.quantile(data[column], 0.75)          
    
    # IQR 계산하기     
    iqr = q75 - q25    
    # outlier cutoff 계산하기     
    cut_off = iqr * 1.5          
    
    # lower와 upper bound 값 구하기     
    lower = q25 - cut_off  
    upper = q75 + cut_off 
    
    print('IQR : ',iqr)     
    print('lower bound : ', lower)     
    print('upper bound : ', upper)    
    
    # 1사 분위와 4사 분위에 속해있는 데이터 각각 저장하기     
    data1 = data[data[column] > upper]     
    data2 = data[data[column] < lower]    
    
    print('총 이상치 개수 : ', data1.shape[0] + data2.shape[0])
    print('해당 데이터에서 이상치의 비율 : {}%'.format(round((data1.shape[0] + data2.shape[0])/data.shape[0]*100,2)))
    
    # 이상치 데이터 index 반환
    outlier_id = [i for i in (data1.ad_id + data2.ad_id)]
    
    return data[~data['ad_id'].isin(outlier_id)]

In [ ]:
df_removed_outlier = outlier_iqr(target_asset, 'var')